# All hidden files/dirs - local only (exception: this file)
.*
!.gitignore

!.github/
!.github/**
build/
out/
bin/
*.iml
*.log
hs_err_pid*.log
replay_pid*.log
bash.exe.stackdump
node_modules/
**/node_modules/
dist/
**/dist/
*.zip
**/__pycache__/
*.pyc
Thumbs.db


# eos-minimal onboard
.env
